[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
react = "*"
flask = "*"
sqlalchemy = "*"
npm = "*"
flask-cors = "*"
flask-migrate = "*"
flask-restful = "*"
sqlalchemy-serializer = "*"
flask-bcrypt = "*"
"package.json" = "*"

[dev-packages]

[requires]
python_version = "3.8"
