/* index.css */

/* Other global styles */

.fullscreen-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Ensure the video is behind other content */
  }
  
  .fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .content {
    position: relative; /* Change to relative positioning */
    z-index: 1; /* Ensure the content is above the video */
    text-align: center;
    margin-top: 20px; /* Adjust as needed */
  }
  
  /* Additional styles for h2 and p tags */
  .content h2{
    color: navy;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
  }

  .content h3 {
    position: relative;
    color: navy;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
  }
  
  .content p {
    font-size: 50px;
  }
  