.JournalContainer {
    display: flex;
    flex-direction: row; /* or flex-direction: row-reverse; */
}

.JournalEntry {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: tan;
    color: black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}
h1{
    color: grey;
}
.content {
    padding: auto;
    display: flex;
    flex-direction: column;
}