
.title{
    text-align: center;
    margin-top: 20px;
    color: rgb(90, 84, 84);
}
.content{
    text-align: center;
    margin-top: 20px;
    color: black;
}
.formgroup{
    text-align: center;
    margin-top: 20px;
    color: black;
    text-decoration-color: #000000;
}
.CommunityForum{
    background-color: #000000;
}
.CommunityForum body{
    color: #000000;
}
.newpost{
    text-align: center;
    margin-top: 20px;
    color: black;
    text-decoration-color: #000000;
}