.resources {
    background-image: url("https://cdn.pixabay.com/photo/2015/10/30/10/43/help-1013700_640.jpg");
    background-repeat: no-repeat;
    background-size: scale;
    background-position: left;
    size: scale;
}
.resourceTitle{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    color: rgb(90, 84, 84);
}
.resourceContent{
    text-align: center;
    font-size: large;
    font-family: cursive;
    font-weight: bold;
    margin-top: 20px;
    color: black;
}
.hotlinks{
    text-align: center;
    margin-top: 20px;
    color: black;
    text-decoration-color: #000000;
}